<div class="box-cop" #boxcop1>
  <div>
    <h1 class="mb-3" #titolo1>GESTIONE SOCIAL MEDIA</h1>
    <p class="mb-3" #sottotitolo1>
      Crea connessioni significative e fai crescere la tua comunità online con
      una gestione strategica dei social media.
    </p>
    <a
      #buttonxx1
      href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
    >
      <button class="button y mt-3">INIZIA ORA</button>
    </a>
  </div>
</div>

<div class="container">

  <div class="row" style="min-height: calc(100vh - 79px)" #socialdiv1>
    <div #strategia 
      class="col-12 col-xl-6 content d-flex justify-content-end justify-content-xl-center  flex-column "
      
    >
      <h2>Strategia Personalizzata</h2>
      <p>
        Nel panorama digitale odierno, una solida strategia sui social media è
        essenziale per il successo del tuo brand. Offriamo servizi di consulenza
        per sviluppare una strategia personalizzata che ottimizza la tua
        presenza su piattaforme come Facebook, Instagram, LinkedIn e TikTok.
        Analizziamo le tue esigenze e obiettivi per creare un piano che
        massimizzi l'engagement e raggiunga il tuo pubblico target.
      </p>
    </div>
    <div
    #strategiaimg
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center flex-column "
    >
      <div class="banner2">
        <img src="assets/immaginestrategia.jpg" alt="" />
      </div>
    </div>
  </div>


  <div class="row" style="min-height: calc(100vh - 79px)" #socialdiv2>
    
    <div
      #creazioneimg
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center  flex-column order-2 order-xl-1 " 
    >
      <div class="banner2">
        <img src="assets/immaginesocial.jpg" alt="" />
      </div>
    </div>

    <div
    #creazione
      class="col-12 col-xl-6 content d-flex justify-content-end  flex-column order-1 order-xl-2 justify-content-xl-center" 
    >
      <h2>Creazione dei Contenuti</h2>
      <p>
        Il contenuto è il cuore della tua strategia sui social media.
        Progettiamo contenuti visivi e testuali accattivanti e rilevanti che
        attirano e coinvolgono il tuo pubblico. Ci occupiamo della
        pianificazione, creazione e gestione dei tuoi post, garantendo una
        comunicazione coerente e professionale su tutte le piattaforme.
      </p>
    </div>
  </div>


  <div class="row" style="min-height: calc(100vh - 79px)" #socialdiv3>
    <div
    #analisi
      class="col-12 col-xl-6 content d-flex justify-content-end justify-content-xl-center  flex-column "
    >
      <h2>Analisi delle Prestazioni</h2>
      <p>
        Per garantire il massimo impatto delle tue attività sui social media,
        monitoriamo e analizziamo continuamente le prestazioni delle tue
        campagne. Utilizziamo strumenti avanzati per tracciare metriche chiave
        come l'engagement, la crescita dei follower e il ROI delle campagne.
        Forniamo report dettagliati e consigli basati sui dati per ottimizzare
        le tue strategie social.
      </p>
    </div>
    <div
    #analisimg
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center flex-column "
    >
      <div class="banner2">
        <img src="assets/immagineanalisi.jpg" alt="" />
      </div>
    </div>
  </div>

</div>


<div class="container calltoaction">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <h1>PRONTO PER INIZIARE?</h1>
    </div>
    <div
      class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center flex-column"
    >
      <p>
        Contattaci oggi stesso per una consulenza gratuita e scopri come
        possiamo aiutarti a crescere online.
      </p>
      <a
        href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
        ><button class="button x mt-3">CONTATTACI</button></a
      >
    </div>
  </div>
</div>
