<div class="box-cop" #boxcop2>
  <div>
    <h1 class="mb-3" #titolo2>BRANDING ONLINE</h1>
    <p class="mb-3" #sottotitolo2>
      Distinguiti nel mercato con un branding online forte e coerente, che
      rispecchia i valori e la missione della tua azienda.
    </p>
    <a
      #buttonxx2
      href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
    >
      <button class="button y mt-3">INIZIA ORA</button>
    </a>
  </div>
</div>

<div class="container">
  <div class="row my-3" style="min-height: calc(100vh - 79px)" #brandingk>
    <div
      #branding
      class="col-12 content d-flex justify-content-end  flex-column mb-4"
    >
      <h2>Creazione del Logo</h2>
      <p>
        Il logo è l’essenza visiva del tuo brand e il primo passo per costruire
        un’identità riconoscibile. Offriamo servizi di design per creare loghi
        unici e memorabili che riflettono i valori e la missione della tua
        azienda. Lavoriamo a stretto contatto con te per sviluppare un logo che
        rappresenti al meglio la tua brand identity e si distingua nel mercato.
      </p>
    </div>
    <div
    #brandingimg
      class="col-12 col-xl-12 content  d-flex justify-content-start   "
    >
      <!-- <div class="banner2">
        <img src="assets/loghi.jpg" alt="" />
      </div> -->
      <div class="carousel-container ">
        <div class="carousel" #carousel>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo6.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo7.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo4.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo3.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo5.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo1.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo2.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo8.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo9.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/logo10.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/1.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/2.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/3.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/4.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/5.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/6.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/7.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/8.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/9.png" alt="Immagine 1" />
            </div>
          </div>
          <div class="slide">
            <div class="banner2">
              <img src="assets/10.png" alt="Immagine 1" />
            </div>
          </div>
          
        </div>
      </div>
    </div>

    
  </div>

  <div class="row" style="min-height: calc(100vh - 79px)">
    <div
      #divdesignbrand
      class="col-12 content d-flex justify-content-end justify-content-xl-center  flex-column"
    >
      <h2>Design di Branding</h2>
      <p>
        Dopo aver creato il tuo logo, estendiamo la tua identità visiva a tutti
        gli altri elementi del tuo branding. Progettiamo:
      </p>
      <p>
        <strong>Biglietti da Visita</strong>: Design professionali e
        personalizzati che lasciano una forte impressione.
      </p>

      <p>
        <strong>Abbigliamento Aziendale</strong>: T-shirt, polo e felpe con
        design coerenti e accattivanti.
      </p>
      <p>
        <strong>Materiale di Cancelleria e Tipografia</strong>: Diari, agende,
        penne e altri articoli personalizzati che completano la tua immagine
        aziendale.
      </p>
      <p>
        <strong>Prodotti Promozionali e Gadget</strong>: Penne, tazze, borse e
        altri gadget aziendali progettati per promuovere il tuo brand.
      </p>
      <p>
        <strong>Materiale Pubblicitario</strong>: Volantini, manifesti, brochure
        e cataloghi con design che comunicano efficacemente il tuo messaggio.
      </p>
    </div>
    <div
      class="col-12 content d-flex justify-content-start justify-content-xl-center flex-column"
    >
      <div class="row containergrid">
        <div #biglietti class="col-12 my-3 biglietti">
          <div class="banner2">
            <img src="assets/bigliettidavisita.jpg" alt="" />
          </div>
        </div>
        <div #tshirt class="col-12 my-3 tshirt">
          <div class="banner2"><img src="assets/tshirt.jpg" alt="" /></div>
        </div>
        <div #diario class="col-12 my-3 diario">
          <div class="banner2"><img src="assets/diario.jpg" alt="" /></div>
        </div>
        <div #tazze class="col-12 my-3 tazze">
          <div class="banner2"><img src="assets/tazze.jpg" alt="" /></div>
        </div>
        <div #brochure class="col-12 my-3 brochure">
          <div class="banner2"><img src="assets/brochure.jpg" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container calltoaction">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <h1>PRONTO PER INIZIARE?</h1>
    </div>
    <div
      class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center flex-column"
    >
      <p>
        Contattaci oggi stesso per una consulenza gratuita e scopri come
        possiamo aiutarti a crescere online.
      </p>
      <a
        href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
        ><button class="button x mt-3">CONTATTACI</button></a
      >
    </div>
  </div>
</div>
