<header>
  <div class="p-3">
    <div class="row align-items-center">
      <div class="col-6" routerLink="/">
        <img src="assets/LOGOBKWHITE.png" alt="" style="width: 150px" />
      </div>
      <div class="col-6 d-flex justify-content-end">
        <ul class="nav" id="mainMenu">
          <li routerLink="/home" routerLinkActive="active" (click)="closeAllMenus()">HOME</li>
          <li routerLinkActive="active" (click)="toggleMainMenu()">
            SERVIZI
            <i
              [class]="
                isMainMenuOpen
                  ? 'fa-solid fa-caret-up ms-2 align-items-center'
                  : 'fa-solid fa-caret-down ms-2 align-items-center'
              "
              style="font-size: 1em"
            ></i>
            <ul *ngIf="isMainMenuOpen" class="submenu" style="background-color: white;  padding: 0.3em;">
              <li routerLink="/sitiweb" routerLinkActive="active" (click)="toggleSubMenu('sitiWeb', $event)">
                REALIZZAZIONE SITI WEB
              </li>
              <li routerLink="/socialmedia" routerLinkActive="active" (click)="toggleSubMenu('socialMedia', $event)">
                GESTIONE SOCIAL MEDIA
              </li>
              <li routerLink="/idenditàdigitale" routerLinkActive="active" (click)="toggleSubMenu('identitaDigitale', $event)">
                BRANDING ONLINE
              </li>
            </ul>
          </li>
          <li routerLink="/chisiamo" routerLinkActive="active" (click)="closeAllMenus()">CHI SIAMO</li>
          <li routerLink="/contatti" routerLinkActive="active" (click)="closeAllMenus()">CONTATTI</li>
        </ul>
        <ul class="icon" id="iconMenu">
          <li class="hamburger" id="hamburgerMenu" (click)="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="sidebar" id="sidebarMenu" [ngClass]="{ active: isOpen }">
    <ul class="nav2" id="mainMenu">
      <li
        (click)="toggleMainMenu()"
        style="text-align: end; font-size: 18px;"
        class="hamburger"
        id="hamburgerMenu"
        (click)="closeMenu()"
      >
        <i class="fa-solid fa-xmark"></i>
      </li>
      <li routerLink="/home" routerLinkActive="active" (click)="closeMenu()">HOME</li>
      <li  (click)="toggleMainMenu()">
        SERVIZI
        <i
          [class]="
            isMainMenuOpen
              ? 'fa-solid fa-caret-up ms-2 align-items-center'
              : 'fa-solid fa-caret-down ms-2 align-items-center'
          "
          style="font-size: 1em"
        ></i>
        <ul *ngIf="isMainMenuOpen">
          <li routerLink="/sitiweb" routerLinkActive="active" (click)="toggleSubMenu('sitiWeb', $event)">
            REALIZZAZIONE SITI WEB
          </li>
          <li routerLink="/socialmedia" routerLinkActive="active" (click)="toggleSubMenu('socialMedia', $event)">
            GESTIONE SOCIAL MEDIA
          </li>
          <li routerLink="/idenditàdigitale" routerLinkActive="active" (click)="toggleSubMenu('identitaDigitale', $event)">
            BRANDING ONLINE
          </li>
        </ul>
      </li>
      <li routerLink="/chisiamo" routerLinkActive="active" (click)="closeMenu()">CHI SIAMO</li>
      <li routerLink="/contatti" routerLinkActive="active" (click)="closeMenu()">CONTATTI</li>
      <div id="viewlogo" class="viewlogo d-flex justify-content-center">
        <img src="assets/LOGOBKBLACK.png" alt="" style="width: 200px" />
      </div>
      <div class="mt-5 d-flex justify-content-center align-items-center">
        <a href="https://www.facebook.com/profile.php?id=61560610781697"><i class="fa-brands fa-facebook me-4"></i></a>
        <a href="https://www.instagram.com/dandevwebsolutions?igsh=MXdrY3F1ZGRvNm1yeA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram me-4"></i></a>
        <a href="https://www.tiktok.com/@dandevwebsolutions?_t=8nuldelOnj6&_r=1"><i class="fa-brands fa-tiktok me-4"></i></a>
        <!-- <a href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"><i class="fa-brands fa-whatsapp"></i></a> -->
        
        
        
      </div>
    </ul>
  </div>
</header>

<div class="container3">
  <div *ngIf="loading" class="spinner-container">
    <!-- <div class="spinner"></div> -->
    <div class="loader"></div>
  </div>
  
  <router-outlet></router-outlet>
</div>

<footer>
  <div class=" row align-items-center">
    <div class="col-12 col-md-4 d-flex justify-content-center  mb-3">
      <a href="https://www.facebook.com/profile.php?id=61560610781697"><i class="fa-brands fa-facebook me-4"></i></a>
      <a href="https://www.instagram.com/dandevwebsolutions?igsh=MXdrY3F1ZGRvNm1yeA%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram me-4"></i></a>
      <a href="https://www.tiktok.com/@dandevwebsolutions?_t=8nuldelOnj6&_r=1"><i class="fa-brands fa-tiktok me-4"></i></a>
      <!-- <a href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"><i class="fa-brands fa-whatsapp"></i></a> -->
      
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
      <p class="m-0 p-0">dandev.info&#64;gmail.com</p>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
      <p class="m-0 p-0">3735051196</p>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-center ">
      <p class="m-0 p-0 " style="font-size: 13px;" >Powered By Danilo Fiume</p>
    </div>
  </div>
</footer>



@if (iconawhatsapp) {
  <a href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!" class="whatsapp-icon" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
}


<div class="cookie-popup" *ngIf="showCookiePopup">
  <div class="cookie-content">
    <h2>Informativa su Privacy e Cookie</h2>
    <p>
      Questo sito utilizza cookie per migliorare l'esperienza utente e per raccogliere dati tramite un modulo di contatto
      fornito da servizi di terze parti come <a href="https://formspree.io/blog" target="_blank">Formspree</a>. 
      Accetti l'uso di cookie e l'invio dei tuoi dati personali tramite il modulo di contatto?
    </p>
    <div class="buttons">
      <button (click)="acceptPrivacyAndCookies()">Accetta</button>
      <button (click)="declinePrivacyAndCookies()">Rifiuta</button>
    </div>
   
  </div>
</div>
