<div class="box-cop" #boxcop>
  <div>
    <h1 class="mb-3" #titolo>SITI WEB</h1>
    <p class="mb-3" #sottotitolo>
      Dall'idea alla realizzazione, siti web che catturano, coinvolgono e
      generano risultati.
    </p>

    <a
      #buttonxx
      href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
      ><button class="button y mt-3">INIZIA ORA</button></a
    >
  </div>
</div>

<div class="container">
  <div class="row my-5" style="min-height: calc(100vh - 79px)" #divsitivetrina>
    <div
      #sitivetrina
      class="col-12 col-xl-6 content d-flex justify-content-end justify-content-xl-center flex-column"
    >
      <h2>Siti Vetrina</h2>
      <p>
        Presenta la tua azienda con stile e professionalità. I nostri siti
        vetrina sono progettati per essere visivamente accattivanti e facili da
        navigare, offrendo una vetrina perfetta per i tuoi servizi e prodotti.
      </p>
      <ul>
        <li>
          <strong>Design Accattivante</strong>: Layout visivamente gradevoli e
          personalizzati per rispecchiare l’identità del tuo brand.
        </li>
        <li>
          <strong>Ottimizzazione SEO Base</strong>: Struttura e contenuti
          ottimizzati per migliorare la visibilità sui motori di ricerca.
        </li>
        <li>
          <strong>Responsive e User-Friendly</strong>: Siti web che si adattano
          a qualsiasi dispositivo, garantendo un’esperienza utente eccellente su
          desktop, tablet e smartphone.
        </li>
      </ul>
    </div>
    <div
      #imgsitivetrina
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center flex-column"
    >
      <div class="banner2">
        <img src="assets/immagineresponsive.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="row my-5" #divecommerce>
    <div
      #imgecommerce
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center flex-column order-2 order-xl-1"
    >
      <div class="banner2">
        <img src="assets/immaginecommerce.jpg" alt="" />
      </div>
    </div>
    <div
      #ecommerce
      class="col-12 col-xl-6 content d-flex justify-content-end justify-content-xl-center flex-column order-1 order-xl-2"
    >
      <h2>E-commerce</h2>
      <p>
        Amplia la tua attività con una piattaforma di e-commerce robusta e
        sicura. I nostri siti e-commerce sono progettati per facilitare le
        vendite online e gestire il tuo inventario con efficienza.
      </p>
      <ul>
        <li>
          <strong>Gestione Facile dei Prodotti</strong>: Pannelli di controllo
          intuitivi per aggiungere, modificare e gestire i tuoi prodotti senza
          complicazioni.
        </li>
        <li>
          <strong>Integrazione con Sistemi di Pagamento</strong>: Soluzioni
          sicure per transazioni, incluse opzioni di pagamento come carte di
          credito, PayPal e altri metodi.
        </li>
        <li>
          <strong>Ottimizzazione per le Conversioni</strong>: Funzionalità
          avanzate come carrelli abbandonati e raccomandazioni personalizzate
          per aumentare le vendite.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row   px-2"  #divsitivetrina style="margin: 8em 0">
  <h1 class="text-center">PORTFOLIO</h1>
  <div class="d-flex justify-content-center align-items-center">
    
    <div class="carousel-container">
      <div class="carousel" #carousel>
        
          <div class="slide">
            <a href="https://ciaociaociaoeww.my.canva.site/dagnru-a8w" target="_blank">
            <div class="banner2">
              <img src="assets/primosito.png" alt="Immagine 1" />
            </div>
          </a>
          </div>
       
        <div class="slide">
          <a href="https://ciaociaociaoeww.my.canva.site/dagnrdpkxww" target="_blank">
            <div class="banner2">
              <img src="assets/secondosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://ciaociaociaoeww.my.canva.site/dagnrapikbq" target="_blank">
            <div class="banner2">
              <img src="assets/terzosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://portfoliodandev.my.canva.site/" target="_blank">
            <div class="banner2">
              <img src="assets/quartosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://portfoliodandev.my.canva.site/dagnro3qlfk" target="_blank">
            <div class="banner2">
              <img src="assets/quintosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://portfoliodandev.my.canva.site/dagnrmjk2ga" target="_blank">
            <div class="banner2">
              <img src="assets/sestosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://portfoliodandev.my.canva.site/dagnrnc5sc8" target="_blank">
            <div class="banner2">
              <img src="assets/settimosito.png" alt="Immagine 1" />
            </div>
          </a>
         
        </div>
        <div class="slide">
          <a href="https://portfoliodandev.my.canva.site/dagnrgvoxck" target="_blank">
            <div class="banner2">
              <img src="assets/ottimosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://dandevportfolio1.my.canva.site/" target="_blank">
            <div class="banner2">
              <img src="assets/nonosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://dandevportfolio1.my.canva.site/dagnrgmjawu" target="_blank">
            <div class="banner2">
              <img src="assets/decimosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://dandevportfolio1.my.canva.site/dagnrhw1apu" target="_blank">
            <div class="banner2">
              <img src="assets/undicesimosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">
          <a href="https://dandevportfolio1.my.canva.site/dagnrnvcpsw" target="_blank">
            <div class="banner2">
              <img src="assets/dodicesimosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
        <div class="slide">

          <a href="https://dandevportfolio1.my.canva.site/dagnrixkke8" target="_blank">
            <div class="banner2">
              <img src="assets/tredicesimosito.png" alt="Immagine 1" />
            </div>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5" style="min-height: calc(100vh - 79px)" #divapplicazioni>
    <div
      #applicazioni
      class="col-12 col-xl-6 content d-flex justify-content-end justify-content-xl-center flex-column"
    >
      <h2>Applicazioni Web</h2>
      <p>
        Sviluppiamo applicazioni web personalizzate per ottimizzare i tuoi
        processi aziendali e soddisfare esigenze specifiche. Dall’integrazione
        con sistemi esistenti alla creazione di nuove soluzioni, siamo qui per
        aiutarti a raggiungere i tuoi obiettivi.
      </p>
      <ul>
        <li>
          <strong>Soluzioni Personalizzate</strong>: Applicazioni progettate per
          risolvere problemi specifici e migliorare l’efficienza operativa.
        </li>
        <li>
          <strong>Integrazione con Altre Piattaforme</strong>: Connessione
          fluida con strumenti e software già in uso nella tua azienda.
        </li>
        <li>
          <strong>Supporto e Aggiornamenti</strong>: Assistenza continua e
          aggiornamenti regolari per garantire il funzionamento ottimale delle
          tue applicazioni.
        </li>
      </ul>
    </div>
    <div
      #imgapplicazioni
      class="col-12 col-xl-6 content d-flex justify-content-start justify-content-xl-center flex-column"
    >
      <div class="banner2">
        <img src="assets/immaginewebapp.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="container calltoaction">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <h1>PRONTO PER INIZIARE?</h1>
    </div>
    <div
      class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center flex-column"
    >
      <p>
        Contattaci oggi stesso per una consulenza gratuita e scopri come
        possiamo aiutarti a crescere online.
      </p>
      <a
        href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
        ><button class="button x mt-3">CONTATTACI</button></a
      >
    </div>
  </div>
</div>
