<div class="box-cop">
  <div>
    <h1 class="mb-5 magicolor" #titolo>DANDEV WEB SOLUTIONS</h1>
    <p class="mb-5" #paragrafo>
      Benvenuti in Dandev Web Solutions! Siamo un’agenzia innovativa
      specializzata in sviluppo web, gestione dei social media e branding
      online.
    </p>
    <p class="" #paragrafo2>
      Fondata da <strong class="magicolor">Danilo Fiume</strong>, un esperto sviluppatore web con
      una solida formazione e numerose certificazioni, la nostra missione è
      offrire soluzioni digitali su misura per aiutare le aziende a eccellere
      nel mondo online.
    </p>
  </div>
</div>

<div
  class="box-cop"
  #danilofiumediv
  style="background-color: white; color: black"
>
  <div>
    <h1 class="mb-3" #titolodanilofiume>DANILO FIUME</h1>
    <p class="mb-3" #paragrafodanilofiume>
      <strong>Danilo Fiume</strong>, il fondatore di
      <strong>Dandev Web Solutions</strong>, ha accumulato una vasta esperienza
      nel settore dello sviluppo web.
    </p>

    <p class="mb-3" #paragrafodanilofiume1>
      Grazie ai suoi studi approfonditi e alle certificazioni conseguite, Danilo
      ha acquisito le competenze necessarie per creare siti web professionali e
      per gestire strategie di marketing digitale di successo.
    </p>

    <p class="" #paragrafodanilofiume2>
      La sua passione per la tecnologia e l’innovazione è alla base di ogni
      progetto che intraprendiamo.
    </p>
  </div>
</div>

<div class="box-cop" #cosafacciamodiv>
  <div>
    <h1 class="mb-5 magicolor" #titolocosafacciamo>COSA FACCIAMO</h1>

    <div class="row">
      <div class="col-12 ">
        <p class="mb-3" #cosafacciamoservizio1>
          <strong class="magicolor">SVILUPPO WEB</strong>: Creiamo siti web personalizzati e
          ottimizzati per offrire un'esperienza utente eccellente e prestazioni
          superiori.
        </p>
      </div>
      <div class="col-12 ">
        <p class="mb-3" #cosafacciamoservizio2>
          <strong  class="magicolor">GESTIONE SOCIAL MEDIA</strong>: Sviluppiamo strategie per la
          gestione dei tuoi canali social, aiutandoti a costruire una forte
          presenza online e a raggiungere il tuo pubblico target.
        </p>
      </div>
      <div class="col-12 ">
        <p class="mb-3" #cosafacciamoservizio3>
          <strong  class="magicolor">BRANDING ONLINE</strong>: Lavoriamo per costruire e gestire la
          tua reputazione online, migliorando la visibilità del tuo brand e
          creando un'immagine coerente e professionale.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container calltoaction">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 text-center">
      <h1>PRONTO PER INIZIARE?</h1>
    </div>
    <div
      class="col-12 col-md-6 text-center d-flex justify-content-center align-items-center flex-column"
    >
      <p>
        Contattaci oggi stesso per una consulenza gratuita e scopri come
        possiamo aiutarti a crescere online.
      </p>
      <a
        href="https://wa.me/3735051196?text=Ciao, ti contatto per sapere ulteriori informazioni!"
        ><button class="button x mt-3">CONTATTACI</button></a
      >
    </div>
  </div>
</div>
